<div class="send-request">
    <!-- <span>Selected {{ setOfCheckedId.size }} items</span> -->
  </div>
  <nz-table
    [nzData]="todoList"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  >
    <thead>
      <tr>
        <th>Completed</th>
        <th>Id</th>
        <th>Title</th>
        <th>description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of todoList">
        <td
          [nzChecked]="item.isCompleted"
          (nzCheckedChange)="onItemChecked(item.id, $event)"
        ></td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>
          <a (click)="editTodo(item)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: red;" (click)="deleteTodo(item.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>